*
!.gitignore
!agent.js
!agent-arm64.js
!go.mod
!go.sum
!main.go
!README.md
!utils/*
!config-example.yaml
!cobra_codec_priority.go
!cobra_concurrency.go
!cobra_wizard_promptui.go
!cobra_root.go
!cobra_help.go
!cobra_search.go
!cobra_flag.go
!.github/workflows/build-pgo.yml
config.yaml